@{
    ViewData["Title"] = "Home Page";
    var carDatatable =
        new makeITeasy.CarCatalog.WebApp.Models.Datatables.CarDatatable(Url.RouteUrl(nameof(makeITeasy.CarCatalog.WebApp.ApiControllers.CarApiController.CarDatatableSearchRequest)));
}

<form asp-antiforgery="false" onsubmit="event.preventDefault();" id="searchRequestForm">
    <div class="col-12">
        <div class="form-group row">
            <div class="col-4">
                <label class="control-label" asp-for="@(carDatatable.SearchModel.ID)"></label>
                <input class="form-control" asp-for="@(carDatatable.SearchModel.ID)" name="@nameof(carDatatable.SearchModel.ID)" />
                <span asp-validation-for="@(carDatatable.SearchModel.ID)" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label class="control-label" asp-for="@(carDatatable.SearchModel.Name)"></label>
                <input class="form-control" asp-for="@(carDatatable.SearchModel.Name)" name="@nameof(carDatatable.SearchModel.Name)" />
                <span asp-validation-for="@(carDatatable.SearchModel.Name)" class="text-danger"></span>
            </div>
        </div>
        <div class="panel-footer text-center">
            <input type="submit" class="btn btn-success" id="submit" name="search" value="Rechercher" />
            <br />       
            <br />
        </div>
</form>

<vc:datatable configuration="carDatatable"></vc:datatable>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var columnRenderers = {
                'id': (data) => {
                    return 'id : ' + data;
                },
                'startDate': (data) => {
                    return moment(data).format('L');
                },
                'edit': (data, type, row) => {
                    return '<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#modalEdit" data-url="/Home/Edit/' + row["id"] + '">Edit</button>';
                }
            }

            initDatatable("@carDatatable.TableID", "#searchRequestForm", columnRenderers);

            $("#@carDatatable.TableID").on("dblDrawEvent", '', function (event) {
                $('#@carDatatable.TableID [data-toggle="ajax-modal"]').on("click", function (event) {
                    var modal = new saveModal();
                    modal.initModal(this);
                    $(this).on("saveDataEvent", function (event) { datatableReload("@carDatatable.TableID"); });
                });
            });


            $("#@carDatatable.TableID").on("dblClickEvent", '', function (event, arg1, arg2) {

                $.slidePanel.show({
                  url: '@Url.Action("CarDetails", "Home")' + "/" + arg2,
                  settings: {
                    method: 'GET'
                  }
                });
            });
        });
    </script>
}